body{
  background-color: darkslategrey;
}
/*
.card-img-top {
  height: 1rem;
} */
/*
:global(.card-deck){
  justify-content: center;
} */
.centeredCardDeck{
  justify-content: center;
  align-items:center
}

.cardTile{
  margin:1rem
}

.jumbotron{
  background-image:url('../public/imgs/darkclouds.jpg');
  background-size:cover;
  display:flex;
  justify-content: space-around;
  /* height: 30vh; */
  align-content: center;
  padding: 2rem;
}

/* or turn off modules to false on webpack
https://www.npmjs.com/package/css-loader change loader
*/
