body{
  background-color: plum;
}
/*
.card-img-top {
  height: 1rem;
} */
/*
:global(.card-deck){
  justify-content: center;
} */
.centeredCardDeck{
  justify-content: center;
  align-items:center
}

.cardTile{
  margin:1rem
}

.weatherCard{
  display:flex;
  padding:1rem 1rem 0 1rem;
}

.deleteButton{
  padding: .1rem .5rem;
  height:2rem;
}
.loading{
  display:none;
}
h4{
  color:white;
}

.jumbotron{
  background-image:url('../public/imgs/darkclouds.jpg');
  background-size:cover;
  display:flex;
  justify-content: space-around;
  /* height: 30vh; */
  align-content: center;
  padding: 2rem;
}

/* or turn off modules to false on webpack
https://www.npmjs.com/package/css-loader change loader
*/

.full{
  width:100vw;
  background-color:blue;
}

.ListGroupText{
  font-size:.77rem;
}
